body {
   font-family: 'Arial', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ffffff; /* Fondo blanco */
   color: #333333; /* Texto oscuro para un buen contraste */
   line-height: 1.6;
}

h1, h2, h3 {
   color: #222222;
   text-align: center;
   margin: 20px 0;
   font-size: 2.2rem; /* Tamaño de letra más grande */
}

p {
   font-size: 1.2rem; /* Aumenta el tamaño del texto */
   margin: 10px 20px;
   color: #444444;
}

button {
   font-size: 1.1rem;
   padding: 10px 20px;
   margin: 10px;
   border-radius: 20px;
   border: 2px solid #ffd700;
   background-color: #ffd700; /* Amarillo personalizado */
   color: #333333;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
   background-color: #ffcc00; /* Un amarillo más intenso al pasar el cursor */
   transform: scale(1.05);
}

.answerNoSelected {
   font-size: 1.2rem;
   padding: 15px;
   background-color: #e0e0e0;
   color: #222222;
   border-radius: 10px;
   margin: 15px;
   transition: background-color 0.3s ease;
}

.answerNoSelected:hover {
   background-color: #ffd700; /* Amarillo personalizado */
   color: #333333;
}

.answerSelected {
   font-size: 1.2rem;
   padding: 15px;
   background-color: #ffd700;
   color: #333333;
   border-radius: 10px;
   margin: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#seePlaces {
   font-size: 1.2rem;
   color: #555555;
   cursor: pointer;
   text-decoration: underline;
}

#seePlaces:hover {
   color: #333333;
}

.place {
   font-size: 1.1rem;
   background-color: #f9f9f9;
   color: #222222;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   margin: 20px 0;
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.place:hover {
   background-color: #ffd700;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   color: #333333;
}

.modal-content {
   background-color: #ffffff;
   color: #333333;
   font-size: 1.1rem;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

textarea {
   font-size: 1.1rem;
   color: #333333;
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 10px;
   width: 100%;
   box-sizing: border-box;
}

textarea:focus {
   border-color: #ffd700;
   outline: none;
}